<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{@{cabecera}::cabeceraFragment}"></head>
<body>
<header th:replace="~{@{cabecera}::cabeceraJustificacionproyectos}"></header>
<!--/* cuerpo */-->
<div class="container">
    <div class="alert alert-danger" role="alert">
        <h2 class="alert-heading text-center"><i class="fas fa-2x fa-exclamation-triangle"></i> <span th:text="#{error.titulo}"/></h2>
        <hr/>
        <div class="alert alert-warning" role="alert">
            <p class="lead text-center"><i class="far fa-2x fa-frown"></i> Página web no encontrada</p>
        </div>
    </div>
</div>
<footer th:replace="~{@{pie}::copyright}"></footer>
</body>
</html>